{{>partials/header}}
<div class="container-page">
    <div class="area-form">
        <h1>Quantos de você existe no Brasil?</h1>
        <form method="post" action="/home">
            <div class="form-group">
                <input type="text" name="name" placeholder="Digite seu primeiro nome">
                {{! <input type="submit" value="Enviar"> }}
                <button><img src="/images/lupa.png"></button>
            </div>    
        </form>
    </div>
</div>    
{{>partials/footer}}